html, body{
    margin: 0;
    width: 100%;
}

@font-face {
    font-family: Tricky Jimmy;
    src: url(fonts/Tricky\ Jimmy.otf);
    src: url(fonts/Tricky\ Jimmy.ttf);
}

body {
    background-color: #F4D35E;
    font-size: 100%;
}

textarea { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
}

.content {
    margin-top: 2%;
    display: flex;
    justify-content:  space-evenly;
}

form {

    display: flex;
    flex-flow: column;
    margin-top: 5%;
    font-size: 4rem;
    font-family: "Tricky Jimmy",sans-serif;
    z-index: 1;

}



input {
    
    all: unset;
    width: 30vh;
    height: 10vh;
    font-size: 2.5rem;
    opacity: 0.6;
    border: 0.5vh solid #F56416;
    border-radius: 2vh;
    padding-left: 1vh;
    text-transform: capitalize;
}

.container{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5vh;
}

.msg {
    font-size: 5rem;
    font-family: "Tricky Jimmy",sans-serif;
}

:root {
    --board_side : 60vh;
}
.board {
    width: var(--board_side);
    height: var(--board_side);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    font-family: "Tricky Jimmy",sans-serif;
    font-size: 7rem;
    box-sizing: border-box;
    width: calc(var(--board_side) /3);
    height: calc(var(--board_side) / 3);
    background-color:#083D77;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22AED1;
}

.cell:hover{
    cursor: pointer;
}

.restartBtn {
    background-color: #22AED1;
    width: 20vh;
    height: 7vh;
    border-radius: 2vh;
    border: solid 1vh #083D77;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: "Tricky Jimmy",sans-serif;
    
}

.restartBtn:hover {
    background-color: #083D77;
    cursor: pointer;
}